footer {
  background-color: #eff0f1;
  padding: 34px 0;
  border-top: solid 1px #000000;
  font-family: 'open_sansregular', sans-serif;
  a {
    color: #12110c;
    &:hover, &:focus {
      color: #303030;

    }
  }
}


.footer-menu-nav {
  display: inline-block;
  margin-bottom: 20px;

  @include breakpoint(large) {
    margin-bottom: 0;

  }
}

.footer-menu {
  &__item {
    float: left;
    text-align: left;
  }
  &__link {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
    font-family: 'open_sansregular', sans-serif;
    &:hover, &:focus {
      color: #303030;

    }
  }
}

.socials {
  font-size: 0;
  padding-top:8px;
  &__item {
    display: inline-block;
    font-size: 33px;
    &:not(:last-child) {
      padding-right: 38px;
    }
  }
  &__link {
    color: #12110c;
    &:hover, &:focus {
      color: #303030;
    }
  }
}

.footer-nav {
  font-size: 0;
  &__item {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;

  }
  &__link {
    font-size: 15px;
    font-family: 'open_sansregular', sans-serif;
    &:hover, &:focus {
      color: #303030;
    }
  }
}

.copy-r {
  font-size: 15px;
  margin-bottom: 23px;
  margin-top: 22px;
}

//.footer-sub-menu {
//  text-align: left;
//  &__link {
//    font-size: 13px;
//    font-family: 'gotham_lightregular',sans-serif;  }
//}

@media screen and (max-width: 780px) {
  .footer-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-nav__item {
    padding-right: 15px;
    padding-left: 15px;
  }
}


.footer-menu .current-menu-item a {
  color: #12110c !important;
}

.footer-menu .footer-sub-menu .footer-menu__link {
  font-size: 13px;
  font-family: 'gotham_lightregular', sans-serif;
  line-height: 1.4;
  padding-bottom: 0;
}

.footer-menu .footer-sub-menu {
  text-align: left;
}

.footer-menu > .footer-menu__item > .footer-menu__link {
  font-size: 15px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 4px;
  font-family: 'open_sansregular', sans-serif;
  font-weight: bold;
}

.footer-menu > .footer-menu__item > .footer-menu__link:hover,
.footer-menu > .footer-menu__item > .footer-menu__link:focus {
  //font-family: 'gotham_boldregular', sans-serif;
  font-weight: bold;
}


.footer-menu > .footer-menu__item {
  float: left;
  text-align: left;
  &:not(:first-child){
    padding-left:35px;
  }
}

.footer-menu .footer-sub-menu .footer-menu__link {
  font-size: 13px;
  //font-family: 'gotham_lightregular', sans-serif;
  font-family: 'gotham_lightregular', sans-serif;
  font-weight: normal;
  text-transform: none;
}
.footer-sub-menu > .footer-menu__item {
  float: none;
  padding: 0;
}
footer .column.small-12.large-4.medium-12{
  padding-right: 50px;
}

@media screen and (max-width: 1090px) {

  .footer-menu > .footer-menu__item:not(:first-child){
    padding-left: 15px;
  }

  .socials__item:not(:last-child) {
    padding-right: 15px;
  }
  footer .column.small-12.large-4.medium-12{
    padding-right: 15px;
  }
  .footer-nav__item {
    padding-right: 5px;
     padding-left: 5px;
  }
  .footer-menu .footer-sub-menu .footer-menu__link{
    line-height: 2;
  }
}

@media screen and (max-width: 430px){
    .footer-menu > .footer-menu__item:not(:first-child){
    padding-left: 0;
  }
  .footer-menu > .footer-menu__item {
    padding-left: 0;
  }
}

@media screen and (max-width: 430px) {
  .footer-menu {
    &__item {
      width: 100%;
      text-align: center;
         }
  }
  .footer-nav__item {
    display: block;
  }
  .footer-menu__link{
    text-align: center;
  }
  .footer-menu > .footer-menu__item {
    width: 100%;
  }
  .footer-menu > .footer-menu__item:not(:last-child) {
    padding-bottom: 35px;
  }
}
