.black-separator {
  background-color: #000;
  color: #fff;
}

.jobs-content {
  font-family: 'gotham_bookregular', sans-serif;
  padding-top: 70px;
  font-size: 18px;
}

.position {
  font-family: 'gotham_mediumregular', sans-serif;
  line-height: 1;
}

.office-name {
  line-height: 1;
}

.position-description {
  &__full {
    display: none;
  }
  padding-top: 30px;
  line-height: 1.3;
  &__view-more {
    position: relative;
    text-transform: uppercase;
    color: #000;
    font-family: 'gotham_boldregular', sans-serif;
    font-size: 13px;
    &:hover, &:focus {
      color: #232323;
    }
    &:after {
      height: 1px;
      display: block;
      width: 100%;
      position: absolute;
      background-color: #000;
      content: '';
      bottom: -5px;
      left: 0;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
}

.contacts {
  background-color: #fff;
  padding: 53px 68px;
  font-size: 18px;
  line-height: 1;
  font-family: 'gotham_bookregular', sans-serif;

}

.border-bottom {
  border-bottom: 1px solid #12110c;
  margin-bottom: 20px;
}

.contact {
  &:first-child {
    margin-top: 20px;
  }
  &__title, &__sub-title {
    line-height: 1;
    font-size: 18px;

  }

  &__title {
    text-transform: uppercase;
  }
  &__tel, &__email {
    display: block;
  }
  & + & {
    margin-top: 20px;
  }
}

[type='text'], [type='password'],
[type='date'], [type='datetime'],
[type='datetime-local'], [type='month'],
[type='week'], [type='email'], [type='number'],
[type='tel'], [type='time'],
[type='url'], [type='color'], textarea,
.main-contact-form__attachment-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
  border: 1px solid #606162;
  margin: 0 0 1.14286rem;
  font-family: inherit;
  font-size: 1.14286rem;
  color: #2a2a2a;
  background-color: #fff;
  box-shadow: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 61px;
  line-height: 61px;

}

.main-contact-form [type='submit'],
.main-contact-form__file {
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 0 20px;
  border: none;
  outline: none;
  height: 61px;
  line-height: 61px;
  text-align: center;
  &:hover,&:focus{
    background-color: #fff;
    color:#2a2a2a;
    border:1px solid #2a2a2a;


  }

}

input[type='file'] {
  display: none;
  text-align: center;
}

textarea {
  height: 200px;
  padding: 0 20px;

}



.main-contact-form__attachment-input:focus {
  content: '';
  outline: none;
}



[type='text'],
[type='email'],
textarea {
  &::-webkit-input-placeholder {
    color: #2a2a2a;
  }
  &::-moz-placeholder {
    color: #2a2a2a;
  }
  &:-moz-placeholder {
    color: #2a2a2a;
  }
  &:-ms-input-placeholder {
    color: #2a2a2a;
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
  }
}




