.black-separator{
  background-color: #000;
  color: #fff;
}
.jobs-content{
  font-family: 'gotham_bookregular', sans-serif;
  padding-top: 70px;
  font-size: 18px;
}
.position{
  font-family: 'gotham_mediumregular', sans-serif;
  line-height:1;
}
.office-name{
  line-height:1;
}

.position-description{
  &__full{
    display: none;
  }
  padding-top:30px;
  line-height:1.3;
  &__view-more{
    position: relative;
    text-transform: uppercase;
    color:#000;
    font-family: 'gotham_boldregular',sans-serif;
    font-size: 13px;
    &:hover, &:focus{
      color: #232323;
    }
    &:after{
      height: 1px;
      display: block;
      width: 100%;
      position: absolute;
      background-color: #000;
      content: '';
      bottom: -5px;
      left:0;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
}
.contacts{
  background-color: #fff;
}