.single-office {
  padding: 67px 0 70px;
  border-bottom: 2px solid #000;
  .column {

  }
  &__more {
    text-align: right;
    .show-more {
      padding: 12px 5px;
      font-size: 11px;
      max-width: 390px;
      width: 390px;
      font-family: 'gotham_boldregular', sans-serif;
      display: inline-block;

    }
  }
  &:nth-child(odd) {

    .single-office__more {
      text-align: left;
    }
  }
  &:nth-child(even) {
    //.row{
    //  margin-right:-50px;
    //}
    //.single-office__description {
    //  padding-left: 50px;
    //}
  }
  &__content {
    text-align: justify;
  }
  h3 {
    font-family: 'gotham_mediumregular', sans-serif;
    font-size: 30px;
  }
  h3, h4 {
    line-height: 1;
    margin-bottom: 2px;
    text-transform: uppercase;
  }
  h4 {
    font-size: 0.8em;
    font-weight: 300;
  }
  > .row {
    @include flexbox;


  }
  &:nth-child(odd):not(#{&}-full) {
    > .row, .single-office__gallery {
      @include flex-direction(row-reverse);
    }
    .single-office__gallery__large {
      margin-left: 0;
      margin-right: 10px;
    }
  }
  &__gallery {
    @include flexbox;
    &__large {
      width: 70%;
      margin-left: 10px;
      .single-office__gallery__item {
        height: 100%;
      }
    }
    &__small {
      width: 30%;
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(space-between);
      .single-office__gallery__item {
        height: calc(50% - 5px);
      }
    }
    &__item {
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

  }
  &__description {
    font-family: 'gotham_bookregular', sans-serif;
    font-size: 18px;
    ul {
      margin: 31px 0 43px 12px;
      li {
        padding-left: 46px;
        line-height: 1;

        &:not(:last-child) {
          margin-bottom: 10px;
        }
        &.address {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: -15px;
            width: 38px;
            height: 38px;
            background-image: url("../img/icons/map-marker.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }

        }
        &.phone {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: -15px;
            width: 38px;
            height: 38px;
            background-image: url("../img/icons/phone.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }

          padding-top: 18px;
        }
        &.email {
          position: relative;
          &:before {
            position: absolute;
            content: '';
            display: block;
            top: 0;
            left: -15px;
            width: 38px;
            height: 38px;
            background-image: url("../img/icons/email.png");
            background-repeat: no-repeat;
            background-position: 50% 50%;
          }

          padding-top: 16px;
        }
        p {
          line-height: 1.2;
          margin: 0;
        }
        a {
          color: inherit;
        }
      }
    }
    h4 {
      font-size: 18px;
    }
  }
  &-full {
    border: none;
  }
}

.btn {
  display: block;
  text-align: center;
  background-color: #000;
  border: 2px solid #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.8em;
  padding: 7px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  &:hover {
    background-color: #fff;
    color: #000;
  }
}

.offices-detailed {
  display: none;
}

.see-our-story {
  padding: 77px 0;
}

.slider-parent {
  &__thumbnail {
    height: 412px;
    overflow: hidden;
    position: relative;
    &__holder {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
}

.offices {
  font-family: 'gotham_bookregular', sans-serif;
  font-size: 18px;
  .row {
    max-width: 79.85714rem;
  }
  &__gallery {
    overflow: hidden;
    margin-bottom: 10px;
    .row {
      max-width: none;
      margin-left: -15px;
      margin-right: -15px;
    }
    &__item {
      margin-top: 30px;
    }
    &__img-holder {
      padding-bottom: 70%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }
}

.office-extra {
  padding: 50px 0 70px;
  border-bottom: 1px solid #000;
  font-size: 16px;
  line-height: 1;
  text-align: justify;

  &__title, &__sub-title {
    width: 100%;
    line-height: 1;
  }
  &__title {
    font-size: 30px;

  }
  &__sub-title {
    margin-bottom: 40px;
    font-size: 18px;

  }
  .offices__gallery__item {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0 5px;
  }
  p {
    line-height: 1.15;
    margin-bottom: 16px;
  }
  &__contact {
    font-size: 18px;
    padding-left: 40px;
    line-height: 1;
    background-repeat: no-repeat;
    background-position: left 3px;
    &.icon-photo {
      background-image: url("../img/icons/photo.png");
    }
    &.icon-video {
      background-image: url("../img/icons/video.png");
    }
    p {
      line-height: 1.15;
      margin-bottom: 0;
    }
  }

}

address {
  font-style: normal;
}

