.search {
  margin-top: 70px;
  font-family: 'gotham_lightregular', sans-serif;
  min-height: 100vh;
  font-size: 16px;
  padding-top: 72px;
  &__header-title {
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'gotham_mediumgular', sans-serif;
    line-height: 1;
    margin-top: 20px;
  }

  &-results {
    margin-top: 40px;
  }
  .row {
    max-width: 79.85714rem;
  }
  &__result-title{
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'gotham_bookregular', sans-serif;
    line-height: 1;
    margin-bottom: 35px;
  }
  &__content{
    border-top: 1px solid #000;
    padding-top: 20px;
  }
  .search-form-parent input[type='search'] {
    width: 97%;
  }
  .search-form-parent input[type='submit'],
  .search-form-parent input[type='search']{
    font-size: 17px;
    height: 54px;
  }
  .search-form-parent input[type='submit']{
    text-transform: uppercase;
    font-family: 'gotham_boldregular', sans-serif;
  }


}


.search-results {
  margin-top: 60px;
  overflow: hidden;
}

.search-result {
  position: relative;
  & + & {
    margin-top: 30px;
  }
  &__text {

  }

  &__img {
    padding-bottom: 65%;
    background-position: 50% 50%;
    background-size: cover;
  }
  &__title {
    position: relative;
    counter-increment: result-item;
    font-size: 20px;
    font-family: 'gotham_mediumregular', sans-serif;
    padding-left: 30px;
    margin-bottom: 15px;
    display: inline-block;
    &:before {
      content: counter(result-item) '.';
      position: absolute;
      left: 15px;
      top: 0;
      min-width: 22px;
      padding-right: 5px;
      font-size: 12px;
      line-height: 25px;
      color: #000;
    }
  }
  &:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    display: block;
    content: '';
  }
}

.search-form-parent {
  margin-top: 20px;
  input[type='submit'] {
    outline: none;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 17px;
    height: 39px;
    font-family: 'gotham_mediumregular', sans-serif;
    font-weight: normal;
    background-color: #000;
    border: 1px solid #000;
    width: 100%;

  }
  input[type='search'] {
    width: 90%;
    &::-webkit-input-placeholder {
      color: transparent;
    }
    &::-moz-placeholder {
      color: transparent;
    }
    &:-moz-placeholder {
      color: transparent;
    }
    &:-ms-input-placeholder {
      color: transparent;
    }
    &:focus {
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
    }
  }
}
@include animateDelay('.search-results .tiles__item', 4);