.services-content {
  padding: 70px 0;
  text-align: justify;
}

.see-production {
  padding: 70px 0;
}

.production {
  overflow-x: hidden;
}

.product {
  position: relative;

  &__hover {
    top: calc(100% - 5px);
    left: 5px;
    bottom: 5px;
    right: 5px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;

  }
  &:hover .product__hover {
    position: absolute;
    top: 5px;
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
  }
  &__content{
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    color: #fff;
  }
}